<p style="color: green"><%= notice %></p>

<%= render @accelerometer %>

<div>
  <%= link_to "Edit this accelerometer", edit_accelerometer_path(@accelerometer) %> |
  <%= link_to "Back to accelerometers", accelerometers_path %>

  <%= button_to "Destroy this accelerometer", @accelerometer, method: :delete %>
</div>
