<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :timestamp_begin, style: "display: block" %>
    <%= form.datetime_field :timestamp_begin %>
  </div>

  <div>
    <%= form.label :timestamp_end, style: "display: block" %>
    <%= form.datetime_field :timestamp_end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
