<div id="<%= dom_id location %>">
  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <p>
    <strong>Altitude:</strong>
    <%= location.altitude %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= location.accuracy %>
  </p>

  <p>
    <strong>Bearing:</strong>
    <%= location.bearing %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= location.speed %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= location.timestamp %>
  </p>

  <p>
    <strong>Speedaccuracy:</strong>
    <%= location.speedAccuracy %>
  </p>

  <p>
    <strong>Bearingaccuracydegrees:</strong>
    <%= location.bearingAccuracyDegrees %>
  </p>

  <p>
    <strong>Verticalaccuracymeters:</strong>
    <%= location.verticalAccuracyMeters %>
  </p>

</div>
